/*******tic-tac-toe******/
body {    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: gray;
    margin: 20px;
}

.display-none
{
    display: none;
}

#tic-tac-toe .disable {
    text-transform: uppercase;
    font-size: 30px;
    font-family: Georgia, "Times New Roman", Times, serif
}

#tic-tac-toe #game li {
    float: left;
    padding: 0;
    list-style: none;
    text-align: center;
    margin:0;
    /* margin-bottom: 20px; */
    color: #fff;
    height: 140px;
    line-height: 140px;
    font-size: 50px;
    color: #fff
}

#tic-tac-toe #game li.disable {
    color: #fff;
    background: transparent;
    border-color: white;
}

#tic-tac-toe #game {
    float: left;
    padding: 0;
    clear: both;
    margin-left:20px;
}

.new_span {
    width: 226px
}

#tic-tac-toe #reset {
    padding: 5px 10px;
    color: #fff;
    font-family: Arial, Helvetica, sans-sefrif;
    font-size: 20px;
    clear: both;
    cursor: pointer;
    float: left;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    width: 100%;
}

.input-prepend span.pre_text {
    width: 55px
}

.input-prepend .span1 {
    width: 93px
}

.input-prepend {
    margin-bottom: 10px
}

.clr {
    clear: both;
    height: 0
}

#tic-tac-toe h1 {
    text-align: center;
    color: white;
    font-size: 28px
}

#tic-tac-toe li::-moz-selection {
    background: none;
    color: #000;
}

#tic-tac-toe li::-webkit-selection {
    background: none;
    color: #000;
}

#tic-tac-toe {
    width: 460px;
    margin: 0 auto
}

.input-append .win_times {
    background: #fff;
    width: 130px
}

.input-append .win_text {
    width: 1em;
}

#tic-tac-toe #game .top {
    border-bottom-style: solid;
}

#tic-tac-toe #game .bottom {
    border-top-style: solid;
}

#tic-tac-toe #game .left {
    border-right-style: solid;
}

#tic-tac-toe #game .right {
    border-left-style: solid;
}

/*******tic-tac-toe END******/